<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820111460452-hk0ngjsnhsnmc9q1aqgpe1pfg7lrgq1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820111460452-hk0ngjsnhsnmc9q1aqgpe1pfg7lrgq1e</string>
	<key>API_KEY</key>
	<string>AIzaSyA3stmMo59AscxX2imJ_DMG24tPgM-rtaI</string>
	<key>GCM_SENDER_ID</key>
	<string>820111460452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motherson.connect.luckyWorld</string>
	<key>PROJECT_ID</key>
	<string>luckyworld-392fc</string>
	<key>STORAGE_BUCKET</key>
	<string>luckyworld-392fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820111460452:ios:82dd98fa57f992bd</string>
	<key>DATABASE_URL</key>
	<string>https://luckyworld-392fc.firebaseio.com</string>
</dict>
</plist>